In [6]:
 import numpy as np 
nan_series = pd.Series([2, np.nan], index = ['ono', 'clapton'])
nan_series

ono        2.0
clapton    NaN
dtype: float64

In [7]:
nan_series.count()

1

In [14]:
nan_series2 = pd.Series([2, None], index = ['ono', 'clapton'], dtype = 'Int64') 
nan_series2

ono           2
clapton    <NA>
dtype: Int64

In [15]:
nan_series.index

Index(['ono', 'clapton'], dtype='object')

In [18]:
temp_values = pd.Series([24, 24, 24, 26, 26, 25, 25], index = ['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun'], name = 'temperature last seven days')
temp_values

mon     24
tue     24
wed     24
thur    26
fri     26
sat     25
sun     25
Name: temperature last seven days, dtype: int64

In [21]:
mask = temp_values > temp_values.mean()
mask

mon     False
tue     False
wed     False
thur     True
fri      True
sat      True
sun      True
Name: temperature last seven days, dtype: bool

In [22]:
temp_values[mask]

thur    26
fri     26
sat     25
sun     25
Name: temperature last seven days, dtype: int64

In [23]:
(2).__add__(4)

6

In [25]:
temp_values.radd(temp_values)

mon     48
tue     48
wed     48
thur    52
fri     52
sat     50
sun     50
Name: temperature last seven days, dtype: int64

In [27]:
temp_values.is_unique

False

In [28]:
temp_values.is_monotonic_increasing

False

In [29]:
temp_values.quantile()

25.0

In [30]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [31]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [32]:
temp_values.nbytes

56

In [34]:
temp_values.memory_usage()

412

In [1]:
import pandas as pd

s = pd.Series([3, 1, 4, 1, 5, 9, 2])

# Rank the Series
ranked_s = s.rank()
print(ranked_s)

0    4.0
1    1.5
2    5.0
3    1.5
4    6.0
5    7.0
6    3.0
dtype: float64

In [5]:
import pandas as pd 
sizes = pd.Series([36, 37, 38, 40, 41, 42, 44])
sizes_m = sizes.mean()
sizes_m

39.714285714285715

In [8]:
def avg(sizes):
    if sizes >= sizes_m:
        return 'high'
    else:
        return 'low'
        

sizes.apply(avg)

0     low
1     low
2     low
3    high
4    high
5    high
6    high
dtype: object

In [26]:
import numpy as np 
condlist = [sizes >= sizes_m, sizes < sizes_m]
choicelist = ['high', 'low']
pd.Series (np.select([sizes.isin(condlist)], ['high', 'low']) index=sizes.index)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2834541656.py, line 4)